<div class="contract__container grid wide">
  <form>
    <div class="row d-flex">
      <h3 class="edit__contract">Thêm mới dịch vụ</h3>
      <div class="col-md-6 contract__col">
        <mdb-form-control>
          <input mdbInput type="text" id="id" class="form-control" />
          <label mdbLabel class="form-label" for="id">Mã hợp đồng</label>
        </mdb-form-control>
        <mdb-form-control>
          <input mdbInput type="text" id="startDate" class="form-control" />
          <label mdbLabel class="form-label" for="startDate">Ngày bắt đầu</label>
        </mdb-form-control>
        <mdb-form-control>
          <input mdbInput type="text" id="endDate" class="form-control" />
          <label mdbLabel class="form-label" for="endDate">Ngày kết thúc</label>
        </mdb-form-control>
        <mdb-form-control>
          <input mdbInput type="text" id="deposit" class="form-control" />
          <label mdbLabel class="form-label" for="deposit">Tiền cọc</label>
        </mdb-form-control>

      </div>
      <div class="col-md-6 contract__col">
        <mdb-form-control>
          <input mdbInput type="text" id="total" class="form-control" />
          <label mdbLabel class="form-label" for="total">Tổng thanh toán</label>
        </mdb-form-control>
        <mdb-form-control>
          <select mdbInput type="text" id="customer" class="form-control">
            <option>Đặng Công Tấn</option>
            <option>Phan Văn A</option>
            <option>Trần Bình B</option>
            <option>Võ Thị C</option>
            <option>Huỳnh Văn F</option>
          </select>
          <label mdbLabel class="form-label" for="customer">Khách hàng</label>
        </mdb-form-control>

        <mdb-form-control>
          <select mdbInput type="text" id="employee" class="form-control">
            <option>Nguyễn Văn A</option>
            <option>Trần Thị B</option>
            <option>Võ Hồng C</option>
            <option>Trần Văn F</option>
            <option>Trần Văn E</option>
          </select>
          <label mdbLabel class="form-label" for="employee">Nhân viên</label>
        </mdb-form-control>
        <mdb-form-control>
          <select mdbInput type="text" id="service" class="form-control">
            <option>Villa</option>
            <option>House</option>
            <option>Room</option>
          </select>
          <label mdbLabel class="form-label" for="service">Dịch vụ</label>
        </mdb-form-control>
        </div>
      </div>
      <div class="col-md-12" style="justify-content: center; display: flex">
        <div style="padding: 20px">
          <button class="matter-button-contained custom__btn">Xác nhận</button>
        </div>
        <div style="padding: 20px">
          <button class="matter-button-contained custom__btn">Huỷ</button>
        </div>
      </div>
  </form>
</div>
