<div class="contract__container grid wide">
  <form>
    <div class="row d-flex">
      <h3 class="edit__contract">Thêm mới dịch vụ</h3>
      <div class="col-md-6 contract__col">
        <label class="matter-textfield-outlined mt__text">
          <input placeholder=" ">
          <span>Mã hợp đồng</span>
        </label>
        <label class="matter-textfield-outlined mt__text">
          <input type="Date" placeholder=" ">
          <span>Ngày bắt đầu</span>
        </label>
        <label class="matter-textfield-outlined mt__text">
          <input type="Date" placeholder=" ">
          <span>Ngày kết thúc</span>
        </label>
        <label class="matter-textfield-outlined mt__text">
          <input placeholder=" ">
          <span>Số tiền cọc</span>
        </label>
        <label class="matter-textfield-outlined mt__text">
          <input placeholder=" ">
          <span>Tổng thanh toán</span>
        </label>
      </div>
      <div class="col-md-6 contract__col">
        <div class="Select__form">
          <select class="mt-select mt__text">
            <option value="" selected>Khách hàng</option>
            <option>Đặng Công Tấn</option>
            <option>Phan Văn A</option>
            <option>Trần Bình B</option>
            <option>Võ Thị C</option>
            <option>Huỳnh Văn F</option>
          </select>
        </div>
        <div class="Select__form">
          <select class="mt-select mt__text">
            <option value="" selected>Nhân viên</option>
            <option>Nguyễn Văn A</option>
            <option>Trần Thị B</option>
            <option>Võ Hồng C</option>
            <option>Trần Văn F</option>
            <option>Trần Văn E</option>
          </select>
        </div>
        <div class="Select__form">
          <select class="mt-select mt__text">
            <option value="" selected>Dịch vụ</option>
            <option>Villa</option>
            <option>House</option>
            <option>Room</option>
          </select>
        </div>
      </div>
      <div class="col-md-12" style="justify-content: center; display: flex">
        <div style="padding: 20px">
          <button class="matter-button-contained custom__btn">Xác nhận</button>
        </div>
        <div style="padding: 20px">
          <button class="matter-button-contained custom__btn">Huỷ</button>
        </div>
      </div>
    </div>
  </form>
</div>
