<div class="Form__Edit">
  <form>
    <div class="row d-flex">
      <h3 class="Edit__Customer">Thêm mới khách hàng</h3>
      <div class="col-md-6 Form__Col">
        <label class="matter-textfield-outlined mt__text">
          <input placeholder=" " />
          <span>Mã Nhân viên</span>
        </label>
        <label class="matter-textfield-outlined mt__text">
          <input placeholder=" " />
          <span>Họ và tên</span>
        </label>
        <label class="matter-textfield-outlined mt__text">
          <input placeholder=" " />
          <span>Ngày sinh</span>
        </label>


        <div class="Gender">
          <label>Giới tính</label>
          <label class="matter-radio radio__gender">
            <input type="radio" name="group" checked>
            <span>Nam</span>
          </label>
          <label class="matter-radio radio__gender">
            <input type="radio" name="group">
            <span>Nữ</span>
          </label>
        </div>

        <label class="matter-textfield-outlined mt__text">
          <input placeholder=" ">
          <span>CMND/CCCD</span>
        </label>
      </div>
      <div class="col-md-6 Form__Col">
        <label class="matter-textfield-outlined mt__text">
          <input placeholder=" ">
          <span>Số Điện Thoại</span>
        </label>
        <label class="matter-textfield-outlined mt__text">
          <input placeholder=" ">
          <span>Email</span>
        </label>
        <label class="matter-textfield-outlined mt__text">
          <input placeholder=" ">
          <span>Địa chỉ</span>
        </label>

        <select class="mt-select mt__text">
          <option>Loại khách</option>
          <option value="Platinum">Platinum</option>
          <option value="Diamon">Diamon</option>
          <option value="Gold">Gold</option>
          <option value="Sliver">Sliver</option>
          <option value="Member">Member</option>
        </select>
      </div>
      <div class="col-md-12" style="justify-content: center; display: flex">
        <div style="padding: 20px">
          <button class="matter-button-contained custom__btn">Xác nhận</button>
        </div>
        <div style="padding: 20px">
          <button class="matter-button-contained custom__btn">Huỷ</button>
        </div>
      </div>
    </div>
  </form>
</div>
