<div class="grid wide Form__Edit">
  <form>
    <div class="row d-flex">
      <h3 class="Edit__Customer">Chỉnh sửa thông tin khách hàng</h3>
      <div class="col-md-6 Form__Col">
        <mdb-form-control>
          <input mdbInput type="text" id="id" class="form-control" />
          <label mdbLabel class="form-label" for="id">Mã khách hàng</label>
        </mdb-form-control>
        <mdb-form-control>
          <input mdbInput type="text" id="name" class="form-control" />
          <label mdbLabel class="form-label" for="name">Họ và tên</label>
        </mdb-form-control>
        <mdb-form-control>
          <input mdbInput type="text" id="birthday" class="form-control" />
          <label mdbLabel class="form-label" for="birthday">Ngày sinh</label>
        </mdb-form-control>

        <div class="form-control Gender">
          <label>Giới tính</label>
          <label class="matter-radio radio__gender">
            <input type="radio" name="group" checked>
            <span>Nam</span>
          </label>
          <label class="matter-radio radio__gender">
            <input type="radio" name="group">
            <span>Nữ</span>
          </label>
          <label class="matter-radio radio__gender">
            <input type="radio" name="group">
            <span>Khác</span>
          </label>
        </div>

        <mdb-form-control>
          <input mdbInput type="text" id="cmnd" class="form-control" />
          <label mdbLabel class="form-label" for="cmnd">CMND/CCCD</label>
        </mdb-form-control>
      </div>
      <div class="col-md-6 Form__Col">
        <mdb-form-control>
          <input mdbInput type="text" id="phone" class="form-control" />
          <label mdbLabel class="form-label" for="phone">Số điện thoại</label>
        </mdb-form-control>
        <mdb-form-control>
          <input mdbInput type="text" id="email" class="form-control" />
          <label mdbLabel class="form-label" for="email">Email</label>
        </mdb-form-control>
        <mdb-form-control>
          <input mdbInput type="text" id="address" class="form-control" />
          <label mdbLabel class="form-label" for="address">Địa chỉ</label>
        </mdb-form-control>
        <mdb-form-control>
          <select mdbInput type="text" id="customerType" class="form-control">
            <option value="Platinum">Platinum</option>
            <option value="Diamon">Diamon</option>
            <option value="Gold">Gold</option>
            <option value="Sliver">Sliver</option>
            <option value="Member">Member</option>
          </select>
          <label mdbLabel class="form-label" for="customerType">Kiểu thuê</label>
        </mdb-form-control>
      </div>
      <div class="col-md-12" style="justify-content: center; display: flex">
        <div style="padding: 20px">
          <button class="matter-button-contained custom__btn">Xác nhận</button>
        </div>
        <div style="padding: 20px">
          <button class="matter-button-contained custom__btn">Huỷ</button>
        </div>
      </div>
    </div>
  </form>
</div>
