.navbar {
  z-index: 100;
  position: sticky;
  width: 100%;
  top: 0;
  /* margin-bottom: 50px; */
  color: #ffffff;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: saturate(180%) blur(2px);
  padding-left: 100px;
  padding-right: 100px;
}

.nav-item .dropdown-menu, .RT__dropdown{
  background-color: #111827;
  border-radius: 10px;
  color: #ffffff;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: saturate(180%) blur(2px);

}

.navbar-brand,
.navbar-nav .nav-item .nav-link,
.dropdown-item {
  color: #ffffff;
}

.navbar-nav .nav-item .nav-link:hover,
.nav-item .dropdown-menu .dropdown-item:hover {
  border-radius: 8px;
  /* border: 1px solid #14133d; */
  background-color: #26385e;
  color: #ffffff;
}

.navbar-nav .nav-item .nav-link,
.nav-item .dropdown-menu .dropdown-item {
  border-radius: 10px;
  /* border: 1px solid #14133d; */
  /* background-color: #26385e;
  color: #ffffff; */
}

#Body__card, .Form__Edit {
  position: relative;
  padding: 50px 100px 50px 100px;
}

#Body__card .card {
  background-image: linear-gradient(to right, #2d3953, #141d2d, #0d131e);
}


.My__Body {
  background-image: linear-gradient(to right, #2d3953, #141d2d, #0d131e);
  color: rgb(255, 255, 255);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}

.My__Header, .Table__Customer{
  position: relative;
  padding: 50px 100px 0 100px;
}
.Social__Media {
  position: relative;
  margin: 0 100px 0 100px;
}
.carousel-inner {
  border-radius: 10px;
}

.btn__card{
  margin: 20px;
}

.Form__Edit form{
  background-color: #aacbf5;
  border: 5px;
  border-radius: 10px;
}
.Form__Edit .Edit__Service{
    margin: 25px;
    text-align: center;
}
.Form__Col{
padding:0 70px 0 70px;
}
.Gender{
    border: 1px solid #000;
    border-radius: 4px;
    height: 50px;
    color: black;
padding: 10px;
}
.radio__gender{
    margin-left: 130px;
}
.mt-select{
    border: solid 1px #000;
    border-radius: 5px;
    height: 60px;
    background-color: transparent;
    padding: 10px;
}
.mt-select:hover{
    border: solid 1px #5b91ff;
    border-radius: 5px;
    height: 60px;
    background-color: transparent;
}
. custom__btn{
    margin: 20px;
    padding-left: 30px;
}

.Table__Customer .table{
    background-color: #2d3953;
    border: solid 3px;
    border-color: white;
}
th, td {
    text-align: center;
    color: white;
}

.Modal_Delete .modal-dialog .modal-content{
background-color: #141d2d;
}
.Modal_Delete .modal-dialog .modal-content .modal-footer{
    border-top: 2px solid #2d3953;
}
.Modal_Delete .modal-dialog .modal-content .modal-header{
      border-bottom: 2px solid #2d3953;
  }

.mt__text{
    width: 100%;
}


.Select__form{
    padding: 5px;
}
