<div class="grid wide services__container">
  <div class="row">
    <div *ngFor="let service of services" class="col l-4 m-6 c-12 service__item">
      <div class="card">
        <div class="bg-image hover-overlay ripple">
          <img [src]="service.serviceImage" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{service.serviceName}}</h5>
          <p class="card-text"><i class="fa-solid fa-tags"></i> {{service.servicePrice}}</p>
          <button type="button" class="btn btn-primary btn__card" data-toggle="modal" data-target="#exampleModal">
            Xoá
          </button>
          <a href="#!" class="btn btn-primary btn__card">Chỉnh Sửa</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xoá dịch vụ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có muốn xoá dịch vụ này không?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary">Xác nhận</button>
      </div>
    </div>
  </div>
</div>
