<div class="Form__Edit">
    <form>
        <div class="row d-flex">
            <h3 class="Edit__Service">Chỉnh sửa thông tin dịch vụ</h3>
            <div class="col-md-6 Form__Col">
                <label class="matter-textfield-outlined mt__text">
                    <input placeholder=" ">
                    <span>Tên dịch vụ</span>
                </label>
                <label class="matter-textfield-outlined mt__text">
                    <input placeholder=" ">
                    <span>Diện tích sử dụng</span>
                </label>
                <label class="matter-textfield-outlined mt__text">
                    <input placeholder=" ">
                    <span>Chi phí thuê</span>
                </label>
                <label class="matter-textfield-outlined mt__text">
                    <input placeholder=" ">
                    <span>Số lượng người tối đa</span>
                </label>
                <select class="mt-select mt__text">
                    <option>Kiểu thuê</option>
                    <option value="Nam">Năm</option>
                    <option value="Thang">Tháng</option>
                    <option value="Tuan">Tuần</option>
                    <option value="Ngay">Ngày</option>
                </select>
            </div>
            <div class="col-md-6 Form__Col">
                <label class="matter-textfield-outlined mt__text">
                    <input placeholder=" ">
                    <span>Tiêu chuẩn phòng</span>
                </label>
                <label class="matter-textfield-outlined mt__text">
                    <input placeholder=" ">
                    <span>Tiện nghi khác</span>
                </label>
                <label class="matter-textfield-outlined mt__text">
                    <input placeholder=" ">
                    <span>Diện tích hồ bơi</span>
                </label>
                <label class="matter-textfield-outlined mt__text">
                    <input placeholder=" ">
                    <span>Số tầng</span>
                </label>
                <select class="mt-select mt__text">
                    <option value="" selected>Kiểu dịch vụ</option>
                    <option>Villa</option>
                    <option>House</option>
                    <option>Room</option>
                </select>
            </div>
            <div class="col-md-12" style="justify-content: center; display: flex">
                <div style="padding: 20px">
                    <button class="matter-button-contained custom__btn">Xác nhận</button>
                </div>
                <div style="padding: 20px">
                    <button class="matter-button-contained custom__btn">Huỷ</button>
                </div>
            </div>
        </div>
    </form>
</div>
