<div class="grid wide Form__Edit">
  <form>
    <div class="row d-flex">
      <h3 class="Edit__Service">Chỉnh sửa thông tin dịch vụ</h3>
      <div class="col-md-6 Form__Col">
        <mdb-form-control>
          <input mdbInput type="text" id="serviceName" class="form-control" />
          <label mdbLabel class="form-label" for="serviceName">Tên dịch vụ</label>
        </mdb-form-control>
        <mdb-form-control>
          <input mdbInput type="text" id="area" class="form-control" />
          <label mdbLabel class="form-label" for="area">Diện tích sử dụng</label>
        </mdb-form-control>
        <mdb-form-control>
          <input mdbInput type="text" id="cost" class="form-control" />
          <label mdbLabel class="form-label" for="cost">Chi phí thuê</label>
        </mdb-form-control>
        <mdb-form-control>
          <input mdbInput type="text" id="maxPeople" class="form-control" />
          <label mdbLabel class="form-label" for="maxPeople">Số người tối đa</label>
        </mdb-form-control>
        <mdb-form-control>
          <select mdbInput type="text" id="rentType" class="form-control">
            <option value="Nam">Năm</option>
            <option value="Thang">Tháng</option>
            <option value="Tuan">Tuần</option>
            <option value="Ngay">Ngày</option>
          </select>
          <label mdbLabel class="form-label" for="maxPeople">Kiểu thuê</label>
        </mdb-form-control>

      </div>
      <div class="col-md-6 Form__Col">
        <mdb-form-control>
          <input mdbInput type="text" id="standardRoom" class="form-control" />
          <label mdbLabel class="form-label" for="standardRoom">Tiêu chuẩn phòng</label>
        </mdb-form-control>
        <mdb-form-control>
          <input mdbInput type="text" id="other" class="form-control" />
          <label mdbLabel class="form-label" for="other">Tiện nghi khác</label>
        </mdb-form-control>
        <mdb-form-control>
          <input mdbInput type="text" id="poolArea" class="form-control" />
          <label mdbLabel class="form-label" for="other">Diện tích hồ bơi</label>
        </mdb-form-control>
        <mdb-form-control>
          <input mdbInput type="text" id="floor" class="form-control" />
          <label mdbLabel class="form-label" for="floor">Số tầng</label>
        </mdb-form-control>
        <mdb-form-control>
          <select mdbInput type="text" id="serviceType" class="form-control">
            <option>Villa</option>
            <option>House</option>
            <option>Room</option>
          </select>
          <label mdbLabel class="form-label" for="maxPeople">Kiểu dịch vụ</label>
        </mdb-form-control>
      </div>
      <div class="col-md-12" style="justify-content: center; display: flex">
        <div style="padding: 20px">
          <button class="matter-button-contained custom__btn">Xác nhận</button>
        </div>
        <div style="padding: 20px">
          <button class="matter-button-contained custom__btn">Huỷ</button>
        </div>
      </div>
    </div>
  </form>
</div>
